@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

i {
  font-weight: 700;
}

.nav-link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  color: #1f1f1f;
}
.nav-link:hover {
  color: #2d2d2d;
}

.navbar-toggler {
  border-color: #1f1f1f;
}
.navbar-toggler:hover {
  background-color: #f48c06;
}

.navar {
  background-color: #f48c06;
}

.navFlex {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* Para poder centrar bien el titulo saque los margin top que venian por defecto en boostrap, modificnaod el minificado que tengo linkeado */
.conTitulo {
  display: flex;
  align-items: center;
}

.titulo {
  font-size: 2em;
  margin-left: 10px;
}

.logo {
  width: 4.5vh;
}

@media (min-width: 768px) {
  .contenedorLogo {
    height: 8vh;
  }
}
textarea {
  resize: none;
}

.formulario__titulo {
  color: #ddd;
}
.formulario__titulo h2 {
  font-size: 1.7em;
  font-weight: 600;
}

.fondo_contacto {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.526), rgba(0, 0, 0, 0.819)), url("../assets/img/fondo.png");
  background-size: cover;
  background-position: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 72vh;
  color: #ddd;
}

.icono__wp {
  color: #25D366;
  font-size: 1.5em;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa62a;
  border-radius: 8px;
  text-align: center;
  height: 4.5vh;
  width: 100%;
  align-self: center;
  transition: 0.5s;
}
.boton a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.boton p {
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.boton:hover {
  background-color: #f48c06;
}

.section__nosotros {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #ddd;
}
.section__nosotros .nosotros__h2 {
  font-size: 2em;
  font-weight: 700;
}
.section__nosotros p {
  text-align: justify;
}

.row__h3 {
  font-size: 1.6em;
  font-weight: 600;
}

.gente__card .card__valor {
  display: flex;
  justify-content: space-between;
}
.gente__card .card__img {
  width: 100%;
  overflow: hidden;
}
.gente__card .card__img img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  transition: 0.5s;
}
.gente__card .card__img img:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .section__nosotros {
    height: 83vh;
  }
  .gente__card .card__img img {
    height: 35vh;
  }
}
.titulo__ubicacion {
  color: #ddd;
}

.card__mapa {
  color: #ddd;
}
.card__mapa .mapa__contenedor .contenedor__mapa {
  width: 100%;
  height: 20vh;
}
.card__mapa .mapa__contenedor .contenedor__mapa iframe {
  width: 100%;
  height: 100%;
}

.main .section__img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  color: #ddd;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.526), rgba(0, 0, 0, 0.819)), url("../assets/img/burgerbanner.jpg");
  background-size: cover;
  background-position: center;
}
.main .section__img .section__h2 {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5em;
}
.main .section__img .section__p {
  text-align: justify;
  padding: 10px;
}

.section__take {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, rgba(27, 27, 27, 0.4), rgba(36, 36, 36, 0.819)), url("../assets/img/section_takeaway.jpg");
  color: #ddd;
  height: 25vh;
}
.section__take .take__h2 {
  font-size: 2.1em;
}
.section__take .take__container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.section__take .take__container .imgPeya {
  height: 100%;
  border-radius: 17px;
}
.section__take .take__container .container__img {
  height: 6vh;
}
.section__take .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa62a;
  border-radius: 8px;
  text-align: center;
  height: 4.5vh;
  width: 90%;
  align-self: center;
  transition: 0.5s;
}
.section__take .boton a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.section__take .boton p {
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.section__take .boton:hover {
  background-color: #f48c06;
}

.section__mapa {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
  background: linear-gradient(to right, rgba(27, 27, 27, 0.4), rgba(36, 36, 36, 0.819)), url("../assets/img/fondo.png");
  background-position: center;
}
.section__mapa h2 {
  color: #ddd;
  text-align: center;
  padding-top: 15px;
}

.mapa__card {
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px 15px 30px;
}
.mapa__card h3 {
  font-size: 1.6em;
}
.mapa__card .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa62a;
  border-radius: 8px;
  text-align: center;
  height: 4.5vh;
  width: 100%;
  align-self: center;
  transition: 0.5s;
}
.mapa__card .boton a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.mapa__card .boton p {
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.mapa__card .boton:hover {
  background-color: #f48c06;
}

.productos .productos__titulo {
  background-color: #f48c06;
  padding: 10px 0;
}
.productos .productos__titulo h2 {
  font-size: 2.1em;
}
.productos .productos__titulo h3 {
  font-weight: 400;
}
.productos .row .productos__card {
  padding-top: 10px;
}
.productos .row .productos__card .card__vendida {
  border-radius: 14px;
  background-color: rgba(253, 167, 167, 0.7176470588);
  text-align: center;
}
.productos .row .productos__card .card__vendida p {
  color: #df0000;
  padding: 5px;
}
.productos .row .productos__card h4 {
  padding: 10px 0;
}
.productos .row .productos__card .card__img {
  width: 100%;
  overflow: hidden;
}
.productos .row .productos__card .card__img img {
  width: 100%;
  height: 32vh;
  object-fit: cover;
  transition: 0.5s;
}
.productos .row .productos__card .card__img img:hover {
  transform: scale(1.2);
}
.productos .row .productos__card .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa62a;
  border-radius: 8px;
  text-align: center;
  height: 4.5vh;
  width: 100%;
  align-self: center;
  transition: 0.5s;
}
.productos .row .productos__card .boton a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.productos .row .productos__card .boton p {
  font-weight: 400;
  font-size: 1.3em;
  color: #1f1f1f;
}
.productos .row .productos__card .boton:hover {
  background-color: #f48c06;
}
.productos .row .productos__card .card__mini {
  width: 100%;
}
.productos .row .productos__card .card__mini img {
  width: 100%;
  height: 18vh;
  object-fit: contain;
}

@media (min-width: 768px) {
  .section__mapa {
    height: 35vh;
  }
  .main .section__img {
    height: 23vh;
  }
  .section__take .boton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa62a;
    border-radius: 8px;
    text-align: center;
    height: 4.5vh;
    width: 30%;
    align-self: center;
    transition: 0.5s;
  }
  .section__take .boton a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.3em;
    color: #1f1f1f;
  }
  .section__take .boton p {
    font-weight: 400;
    font-size: 1.3em;
    color: #1f1f1f;
  }
  .section__take .boton:hover {
    background-color: #f48c06;
  }
}
.footer {
  background-color: #f48c06;
}

.footer__flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.footer__flex__logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 22vw;
}

.footer__flex__logo h3 {
  color: #111;
  text-align: center;
}

.footer__flex__contacto {
  width: 35vw;
}

.icono__ig {
  color: #e1306c;
  font-size: 1.5em;
}

.icono__fb {
  color: #3b5998;
  font-size: 1.5em;
}

.icono__tw {
  color: #00acee;
  font-size: 1.5em;
}

/*# sourceMappingURL=main.css.map */
