@import "variables";
@import "mixins";
.footer{
    background-color: $primary-color;
}

.footer__flex{
    @include display-flex(space-evenly, center, row);
}

.footer__flex__logo{
    @include  display-flex(center, center, column);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 22vw;
}

.footer__flex__logo h3{
    color: #111;
    text-align: center;
}

.footer__flex__contacto{
    width: 35vw;
}

.icono__ig{
    color: #e1306c;
    font-size: 1.5em;
}
.icono__fb{
    color: #3b5998;
    font-size: 1.5em;
}
.icono__tw{
    color: #00acee;
    font-size: 1.5em;
}