@import 'mixins';
.main .section__img{
    @include display-flex(flex, nowrap, space-evenly, center, column);
    height: 29vh;
    color: #ddd;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.526),rgba(0, 0, 0, 0.819)), url("/assets/img/burgerbanner.jpg");
    background-size: cover;
    background-position: center;
}
.section .section__h2{
    display: flex;
    justify-content: space-evenly;
}
.section .section__p{
    @include parrafo();
    padding: 10px;
}