@import 'mixins';
@import 'variables';

.main .section__img{
    @include display-flex(flex, nowrap, space-evenly, center, column);
    height: 20vh;
    color: map-get($colores, texto-blanco );
    background:linear-gradient(to right,rgba(0, 0, 0, 0.526),rgba(0, 0, 0, 0.819)), url("../assets/img/burgerbanner.jpg");
    background-size: cover;
    background-position: center;
    & .section__h2{
        display: flex;
        justify-content: space-evenly;
        font-size: 2.5em
    }
    & .section__p{
        @include parrafo();
        padding: 10px;
    }
}

.section__take{
    @include display-flex(flex, nowrap, space-evenly, center, column);
    background: linear-gradient(to right,rgba(27, 27, 27, 0.4),rgba(36, 36, 36, 0.819)), url("../assets/img/section_takeaway.jpg");
    color: map-get($colores, texto-blanco );
    height: 25vh;
    .take__h2{
        font-size: 2.1em;
    }
    .take__container{
        @include display-flex(flex, nowrap, space-evenly, center, row);
        .imgPeya{
            height: 100%;
            border-radius: 17px;
        }
        .container__img{
            height: 6vh;
        }
    }
    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
        @include boton(90%);
    }
}
.section__mapa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    background: linear-gradient(to right,rgba(27, 27, 27, 0.4),rgba(36, 36, 36, 0.819)), url("../assets/img/fondo.png");
    background-position: center;
    h2{
        color: map-get($colores, texto-blanco );
        text-align: center;
        padding-top: 15px;
    }
}
.mapa__card{
    color: map-get($colores, texto-blanco );
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px 15px 30px;
    & h3{
        font-size: 1.6em;
    }
    .boton{
        display: flex;
        justify-content: center;
        align-items: center;
        @include boton(100%);
        
    }
}


.productos{
    .productos__titulo{
        background-color: map-get($colores, naranja );
        padding: 10px 0;
        h2{
            font-size: 2.1em;
        }
        h3{
            font-weight: 400;
        }
    }
    .row{
        .productos__card{
            padding-top: 10px;
            .card__vendida{
                border-radius: 14px;
                background-color: map-get($colores, fondo-rojo);
                text-align: center;

                p{
                    color: map-get($colores, text-rojo);
                    padding: 5px;
                }
            }
            h4{
                padding: 10px 0;
            }
            .card__img{
                width: 100%;
                overflow: hidden;
                img{
                    width:100%;
                    height: 32vh;
                    object-fit: cover;
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.2)
                    }
                }
            }
            .boton{
                @include boton(100%);
            }
            .card__mini{
                width: 100%;
                img{
                    width:100%;
                    height: 18vh;
                    object-fit: contain;
                }
            }
        }
    }
}






@media (min-width: 768px){
    .section__mapa{
        height: 35vh;
    }
    .main .section__img{
        height: 23vh;
    }
    .section__take{
        .boton{
        @include boton(30%);
        }
    }
}