
@mixin display-flex($display, $wrap: nowrap, $jusitfy, $align, $direction: column){
    display: $display;
    flex-wrap: $wrap;
    justify-content: $jusitfy;
    align-items: $align;
    flex-direction: $direction;
}

@mixin parrafo(){
    text-align: justify;
}