
@mixin display-flex($jusitfy, $align, $direction){
    display: flex;
    justify-content: $jusitfy;
    align-items: $align;
    flex-direction: $direction;
}

@mixin parrafo(){
    text-align: justify;
}

@mixin boton($ancho){
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: map-get($colores, naranja-claro );
    border-radius: 8px;
    text-align: center;
    height: 4.5vh;
    width: $ancho;
    align-self: center;
    transition: 0.5s;
    a{
        text-decoration: none;
        font-weight: 400;
        font-size: 1.3em;
        color: map-get($colores, texto-negro );
    }
    p{
        font-weight: 400;
        font-size: 1.3em;
        color: map-get($colores, texto-negro );
    }
    &:hover{
        background-color: map-get($colores, naranja );
    }
}