@import "variables";


.nav-link{
    font-family: $font-famili;
    font-weight: 600;
    color: #1f1f1f;
    &:hover{
        color: #2d2d2d;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
}

.navbar-toggler{
    border-color: #1f1f1f;
    &:hover{
        background-color: $second-color;
    }
}



.navar{
    background-color: $primary-color;
}
.navFlex{
    width: 100%;
    justify-content: flex-end;
}
.contenedorLogo{
    height: 5.5vh;
}
.logo{
    height: 100%;
}

@media (min-width: 768px){
    .contenedorLogo{
        height: 8vh;
    }
}
