@import "variables";
@import "mixins";

.nav-link{
    font-family: $font-famili;
    font-weight: 600;
    color: #1f1f1f;
    &:hover{
        color: #2d2d2d;
    }
}

.navbar-toggler{
    border-color: #1f1f1f;
    &:hover{
        background-color: $second-color;
    }
}



.navar{
    background-color: $primary-color;
}
.navFlex{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.conTitulo{
    display: flex;
    align-items: flex-start;
}
.titulo{
    font-size: 2em;
    margin-left: 10px;
}


.logo{
    width: 4vh;
}

@media (min-width: 768px){
    .contenedorLogo{
        height: 8vh;
    }
}