@import "variables";
@import "mixins";

.nav-link{
    font-family: $font-famili;
    font-weight: 600;
    color: map-get($colores, texto-negro);
    &:hover{
        color: map-get($colores, texto-negro-h);
    }
}

.navbar-toggler{
    border-color: map-get($colores, borde);
    &:hover{
        background-color: map-get($colores, naranja);
    }
}



.navar{
    background-color: map-get($colores, naranja);
}
.navFlex{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
/* Para poder centrar bien el titulo saque los margin top que venian por defecto en boostrap, modificnaod el minificado que tengo linkeado */
.conTitulo{
    display: flex;
    align-items: center;
}
.titulo{
    font-size: 2em;
    margin-left: 10px;
}


.logo{
    width: 4.5vh;
}

@media (min-width: 768px){
    .contenedorLogo{
        height: 8vh;
    }
}