.section__nosotros{
    @include display-flex(space-evenly, normal, column);

    color: #ddd;
    .nosotros__h2{
        font-size: 2em;
        font-weight: 700;
    }
    p{
        text-align: justify;
    }
}

.row__h3{
    font-size: 1.6em;
    font-weight: 600;
}

.gente__card{

    .card__valor{
        @include display-flex(space-between, normal, column);

        h4{

        }
    }
    .card__img{
        width: 100%;
        overflow: hidden;
        img{
            width:100%;
            height: 25vh;
            object-fit: cover;
            transition: 0.5s;
            &:hover{
                transform: scale(1.2)
            }
        }

    }
}


@media (min-width: 768px){
    .section__nosotros{
        height: 83vh;
    }
    .gente__card{
        .card__img{
            img{
                height: 35vh;
            }
        }
    }    
}