@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$font-famili: 'Roboto Condensed', sans-serif;

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $font-famili;
    font-weight: 400;
}
i{
    font-weight: 700;
}