.titulo__ubicacion{
    color: #ddd;
}
.card__mapa{
    color: #ddd;
    .mapa__contenedor{
        .contenedor__mapa{
            width: 100%;
            height: 20vh;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
}